<#include "header.html">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>${currentMenuName}</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <form id="mainform" method="POST">
        <#list elements as element>
        <tr>
          <th nowrap="true">
            ${element.label}
          </th>
          <td nowrap="true">
            <#switch element.formType>

              <#case "TEXT">
              <input type="text" name="${element.name}" value="${element.defaultValue}">
              <#break>

              <#case "HIDDEN">
              <input type="hidden" name="${element.name}" value="${element.value}"> ${element.value}
              <#break>

              <#case "SELECT">
              <select name="${element.name}">
                <#list element.options as option>
                  <option value="${option.value}">${option.label}</option>
                </#list>
              </select>
              <#break>

              <#case "CHECKBOX">
                <#if element.defaultValue>
                  <input type="checkbox" name="${element.name}" value="${element.value}" checked>
                <#else>
                  <input type="checkbox" name="${element.name}" value="${element.value}">
                </#if>
              <#break>

              <#default>
            </#switch>
          </td>
          <td width="100%">&nbsp;</td>
        </tr>
        </#list>
      </form>
    </table>
    <button type="submit" form="mainform" value="${submitName}">${submitValue}</button>
  </div>
</main>

<#include "footer.html">
