<#include "header.html">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>${currentMenuName}</h2>
  <#list sections as section>
    <#if (section.sectionTitle)??>
      <hr>
      <h3>${section.sectionTitle}</h3>
    </#if>
    <#if (section.pageActions)??>
      <#include "page-action.html">
    </#if>
    <#if (section.pageElements)??>
      <#include "page-info.html">
    </#if>
    <#if (section.chartElements)??>
      <#include "page-chart.html">
    </#if>
    <#if (section.tableElements)??>
      <#include "page-table.html">
    </#if>
  </#list>
</main>

<#include "page-chart.js">

<#include "footer.html">
