<#include "header.html">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>${currentMenuName}</h2>

  <#if actions?size gt 0>
  <div class="table-responsive">
    <table class="table table-sm">
      <tr>
      <#list actions as action>
        <td nowrap="true">
          <button type="submit" form="tableform" name="action" value="${action}">${action}</button>
        </td>
      </#list>
      <td width="100%">&nbsp;</td>
      </tr>
    </table>
  </div>
  </#if>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <form id="tableform" method="POST">
        <thead>
          <tr>
            <#if actions?size gt 0>
              <th nowrap="true"><input type="checkbox" onClick="toggle(this)" /></th>
            </#if>
            <#list headers as header>
              <th nowrap="true">${header}</th>
            </#list>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <#list rows as row>
            <tr>
              <#if actions?size gt 0>
                <td nowrap="true" align="center"><input type="checkbox" name="tableid" value="${row.id}"></td>
              </#if>
              <#list row.columns as column>
                <td nowrap="true">
                  <#if (column.link)??>
                    <a href="${column.link}">
                  </#if>
                  <#if (column.value)??>
                    ${column.value}
                  <#else>
                    &nbsp;
                  </#if>
                  <#if (column.link)??>
                    </a>
                  </#if>
                </td>
              </#list>
              <td width="100%">&nbsp;</td>
            </tr>
          </#list>
        </tbody>
      </form>
    </table>
  </div>
</main>

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('tableid');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

<#include "footer.html">
