<#include "header.html">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <h2>${currentMenuName}</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <form method="POST">
        <thead>
          <tr>
            <#list actions>
              <th nowrap="true">
                <select name="action" onchange="this.form.submit()">
                  <option value="" selected >Action</option>
                  <#items as action>
                    <option value="${action}">${action}</option>
                  </#items>
                </select>
              </th>
            </#list>
            <#list headers as header>
              <th nowrap="true">${header}</th>
            </#list>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <#list rows as row>
            <tr>
              <#if actions?size gt 0>
                <td nowrap="true" align="center"><input type="checkbox" name="id" value="${row.id}"></td>
              </#if>
              <#list row.columns as column>
                <td nowrap="true">
                  <#if (column.link)??>
                    <a href="${column.link}">
                  </#if>
                  <#if (column.value)??>
                    ${column.value}
                  <#else>
                    &nbsp;
                  </#if>
                  <#if (column.link)??>
                    </a>
                  </#if>
                </td>
              </#list>
              <td width="100%">&nbsp;</td>
            </tr>
          </#list>
        </tbody>
      </form>
    </table>
  </div>
</main>

<#include "footer.html">
